body {
    background-color: #edefee;
    font-family: monospace;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 5%;
    margin-right: 5%;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

header > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 12rem;
}

nav ul {
    list-style: none;
    text-align: center;
    width: 80%;
    background-color: #b1645f;

}

nav li {
    text-decoration: none;
    font-size: larger;
    color: whitesmoke;
    display: inline-block;
    height: 2rem;
    width: 4rem;
    border-radius: 8%;

}

section {
    display: flex;
}

article {
    flex: 1; 
}

footer {
    display: flex;
}

footer img {
    height: 12rem;
}

footer div {
    flex: 1;
}
section:first-child {
    align-items: center;
    color: whitesmoke;
    background-image: url(/frontend/HTML-CSS/meta-portfolio-project/assets/thomas-verbruggen-cVYLIzF6Gh0-unsplash.jpg);
    height: 10rem;
    position: relative;
    justify-content: center;
    width: 100%;
    border-width: 3rem;
    border-radius: 8%;
}
section:first-child:hover {
    box-shadow: 0 2rem 2rem rgba(0,0,0,0.5);
    transform: scale(1.025);
    transition: transform .4s ease-in;
}
h1 {
    display: flex;
    justify-content: center;

}
h1 + p {
    display:flex;
    justify-content: center;
    margin-top: 3%;
}

section:nth-of-type(2) {
    background-color: bisque;
    gap: 1rem;
    padding: 2rem;
}